---
import clsx from 'clsx';

const { path, name } = Astro.props;
---

<a
  href={path}
  class={clsx(
    'transition-all hover:text-neutral-800 dark:hover:text-neutral-200 flex align-middle'
  )}
>
  <span class="relative py-1 px-2">
    {name}
  </span>
</a>
